# 사회팀 상관관계 분석 전처리

- 작성자: 박하람 


## 전체 지역별 데이터 합치기

In [ ]:
import pandas as pd
import numpy as np
from glob import glob

In [ ]:
from tqdm import tqdm_notebook

tmp_raw = []

for file_name in tqdm_notebook(industries_files): 
    tmp = pd.read_excel(file_name, header=2)
    tmp = tmp.iloc[:,[0,1,2,3,4,39,40,41,42,43]].fillna(0)
    tmp_raw.append(tmp)
    
industries_raw = pd.concat(tmp_raw)
industries_raw.head()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """

HBox(children=(FloatProgress(value=0.0, max=17.0), HTML(value='')))

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,종사자수.18,종사자수.19,종사자수.20,종사자수.21,종사자수.22
0,380,경상남도,전체산업,281685.0,1388302,232092,59780,889783,148307,58340
1,38A,경상남도,"농업, 임업 및 어업(01~03)",366.0,3282,0,0,2473,748,61
2,38A01,경상남도,농업,295.0,2567,0,0,1979,527,61
3,38A011,경상남도,작물 재배업,134.0,846,0,0,620,199,27
4,38A0111,경상남도,곡물 및 기타 식량작물 재배업,7.0,22,0,0,20,0,2

In [ ]:
industries_raw.columns = ['코드','행정구역','산업분류','총사업체수','총종사자수','자영업자 종사자수','무급가족 종사자수','상용 종사자수','임시및일용 종사자수','기타 종사자수']
industries_raw.head()

,코드,행정구역,산업분류,총사업체수,총종사자수,자영업자 종사자수,무급가족 종사자수,상용 종사자수,임시및일용 종사자수,기타 종사자수
0,380,경상남도,전체산업,281685.0,1388302,232092,59780,889783,148307,58340
1,38A,경상남도,"농업, 임업 및 어업(01~03)",366.0,3282,0,0,2473,748,61
2,38A01,경상남도,농업,295.0,2567,0,0,1979,527,61
3,38A011,경상남도,작물 재배업,134.0,846,0,0,620,199,27
4,38A0111,경상남도,곡물 및 기타 식량작물 재배업,7.0,22,0,0,20,0,2

In [ ]:
industries_raw = industries_raw.replace('X',0)

In [ ]:
industries_raw = industries_raw.astype({'총사업체수':np.float,'총종사자수':np.float,'자영업자 종사자수':np.float,
                     '무급가족 종사자수':np.float,'상용 종사자수':np.float,'임시및일용 종사자수':np.float,'기타 종사자수':np.float})

In [ ]:
industries_raw.head()

,코드,행정구역,산업분류,총사업체수,총종사자수,자영업자 종사자수,무급가족 종사자수,상용 종사자수,임시및일용 종사자수,기타 종사자수
0,380,경상남도,전체산업,281685.0,1388302.0,232092.0,59780.0,889783.0,148307.0,58340.0
1,38A,경상남도,"농업, 임업 및 어업(01~03)",366.0,3282.0,0.0,0.0,2473.0,748.0,61.0
2,38A01,경상남도,농업,295.0,2567.0,0.0,0.0,1979.0,527.0,61.0
3,38A011,경상남도,작물 재배업,134.0,846.0,0.0,0.0,620.0,199.0,27.0
4,38A0111,경상남도,곡물 및 기타 식량작물 재배업,7.0,22.0,0.0,0.0,20.0,0.0,2.0

In [ ]:
industries_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 557112 entries, 0 to 22043
Data columns (total 10 columns):
코드            557112 non-null object
행정구역          557112 non-null object
산업분류          557112 non-null object
총사업체수         557112 non-null float64
총종사자수         557112 non-null float64
자영업자 종사자수     557112 non-null float64
무급가족 종사자수     557112 non-null float64
상용 종사자수       557112 non-null float64
임시및일용 종사자수    557112 non-null float64
기타 종사자수       557112 non-null float64
dtypes: float64(7), object(3)
memory usage: 46.8+ MB

In [ ]:
industries_raw.isnull().sum()

코드            0
행정구역          0
산업분류          0
총사업체수         0
총종사자수         0
자영업자 종사자수     0
무급가족 종사자수     0
상용 종사자수       0
임시및일용 종사자수    0
기타 종사자수       0
dtype: int64

In [ ]:
industries_raw.to_csv('industries_preprocessed.csv', sep=',', encoding='utf-8')

## 세부 데이터 전처리

In [ ]:
industries_df = pd.read_csv('industries_preprocessed.csv', index_col=0, encoding='utf-8')
industries_df.head(10)

,코드,행정구역,산업분류,총사업체수,총종사자수,자영업자 종사자수,무급가족 종사자수,상용 종사자수,임시및일용 종사자수,기타 종사자수
0,380,경상남도,전체산업,281685.0,1388302.0,232092.0,59780.0,889783.0,148307.0,58340.0
1,38A,경상남도,"농업, 임업 및 어업(01~03)",366.0,3282.0,0.0,0.0,2473.0,748.0,61.0
2,38A01,경상남도,농업,295.0,2567.0,0.0,0.0,1979.0,527.0,61.0
3,38A011,경상남도,작물 재배업,134.0,846.0,0.0,0.0,620.0,199.0,27.0
4,38A0111,경상남도,곡물 및 기타 식량작물 재배업,7.0,22.0,0.0,0.0,20.0,0.0,2.0
5,38A01110,경상남도,곡물 및 기타 식량작물 재배업,7.0,22.0,0.0,0.0,20.0,0.0,2.0
6,38A0112,경상남도,"채소, 화훼작물 및 종묘 재배업",52.0,364.0,0.0,0.0,266.0,92.0,6.0
7,38A01121,경상남도,채소작물 재배업,12.0,77.0,0.0,0.0,57.0,20.0,0.0
8,38A01122,경상남도,화훼작물 재배업,2.0,0.0,0.0,0.0,0.0,0.0,0.0
9,38A01123,경상남도,종자 및 묘목 생산업,38.0,283.0,0.0,0.0,206.0,71.0,6.0

### 산업분류명칭 대분류 

A. 농업, 임업 및 어업(01 ~ 03)
B. 광업(05 ~ 08)
C. 제조업(10 ~ 34)
D. 전기, 가스, 증기 및 공기조절 공급업(35)
E. 수도, 하수 및 폐기물 처리, 원료 재생업(36 ~ 39)
F. 건설업(41 ~ 42)
G. 도매 및 소매업(45 ~ 47)
H. 운수 및 창고업(49 ~ 52)
I. 숙박 및 음식점업(55 ~ 56)
J. 정보통신업(58 ~ 63)
K. 금융 및 보험업(64 ~ 66)
L. 부동산업(68)
M. 전문, 과학 및 기술 서비스업(70 ~ 73)
N. 사업시설 관리, 사업 지원 및 임대 서비스업(74 ~ 76)
O. 공공행정, 국방 및 사회보장 행정(84)
P. 교육 서비스업(85)
Q. 보건업 및 사회복지 서비스업(86 ~ 87)
R. 예술, 스포츠 및 여가관련 서비스업(90 ~ 91)
S. 협회 및 단체, 수리 및 기타 개인 서비스업(94 ~ 96)
T. 가구 내 고용활동 및 달리 분류되지 않은 자가소비 생산활동(97 ~ 98)
U. 국제 및 외국기관(99)

In [ ]:
ind_A = industries_df[industries_df['산업분류'] == '농업, 임업 및 어업(01~03)']
ind_B = industries_df[industries_df['산업분류'] == '광업(05~08)']
ind_C = industries_df[industries_df['산업분류'] == '제조업(10~34)']
ind_D = industries_df[industries_df['산업분류'] == '전기, 가스, 증기 및 공기조절 공급업(35)']
ind_E = industries_df[industries_df['산업분류'] == '수도, 하수 및 폐기물 처리, 원료 재생업(36 ~ 39)']
ind_F = industries_df[industries_df['산업분류'] == '건설업(41~42)']
ind_G = industries_df[industries_df['산업분류'] == '도매 및 소매업(45~47)']
ind_H = industries_df[industries_df['산업분류'] == '운수 및 창고업(49~52)']
ind_I = industries_df[industries_df['산업분류'] == '숙박 및 음식점업(55~56)']
ind_J = industries_df[industries_df['산업분류'] == '정보통신업(58~63)']
ind_K = industries_df[industries_df['산업분류'] == '금융 및 보험업(64~66)']
ind_L = industries_df[industries_df['산업분류'] == '부동산업(68)']
ind_M = industries_df[industries_df['산업분류'] == '전문, 과학 및 기술 서비스업(70~73)']
ind_N = industries_df[industries_df['산업분류'] == '사업시설 관리, 사업 지원 및 임대 서비스업(74~76)']
ind_O = industries_df[industries_df['산업분류'] == '공공행정, 국방 및 사회보장 행정(84)']
ind_P = industries_df[industries_df['산업분류'] == '교육 서비스업(85)']
ind_Q = industries_df[industries_df['산업분류'] == '보건업 및 사회복지 서비스업(86~87)']
ind_R = industries_df[industries_df['산업분류'] == '예술, 스포츠 및 여가관련 서비스업(90~91)']
ind_S = industries_df[industries_df['산업분류'] == '협회 및 단체, 수리 및 기타 개인 서비스업(94~96)']
# ind_T, ind_U 데이터 없음

In [ ]:
ind_A = ind_A.sort_values(by='코드')
ind_B = ind_B.sort_values(by='코드')
ind_C = ind_C.sort_values(by='코드')
ind_D = ind_D.sort_values(by='코드')
ind_E = ind_E.sort_values(by='코드')
ind_F = ind_F.sort_values(by='코드')
ind_G = ind_G.sort_values(by='코드')
ind_H = ind_H.sort_values(by='코드')
ind_I = ind_I.sort_values(by='코드')
ind_J = ind_J.sort_values(by='코드')
ind_K = ind_K.sort_values(by='코드')
ind_L = ind_L.sort_values(by='코드')
ind_M = ind_M.sort_values(by='코드')
ind_N = ind_N.sort_values(by='코드')
ind_P = ind_P.sort_values(by='코드')
ind_Q = ind_Q.sort_values(by='코드')
ind_R = ind_R.sort_values(by='코드')
ind_S = ind_S.sort_values(by='코드')

In [ ]:
ind_list = [ind_A, ind_B, ind_C, ind_D, ind_E, ind_F, ind_G, ind_H, ind_I, 
            ind_J, ind_K, ind_L, ind_M, ind_N, ind_P, ind_Q, ind_R, ind_S ]

for n,ind in enumerate(ind_list):
    ind.to_csv(f'지역별 데이터 {n}.csv', sep=',', encoding='utf-8')

### 특정 산업체 선별

In [ ]:
industries_df = pd.read_csv('industries_preprocessed.csv', index_col=0, encoding='utf-8')
industries_df.head()

,코드,행정구역,산업분류,총사업체수,총종사자수,자영업자 종사자수,무급가족 종사자수,상용 종사자수,임시및일용 종사자수,기타 종사자수
0,380,경상남도,전체산업,281685.0,1388302.0,232092.0,59780.0,889783.0,148307.0,58340.0
1,38A,경상남도,"농업, 임업 및 어업(01~03)",366.0,3282.0,0.0,0.0,2473.0,748.0,61.0
2,38A01,경상남도,농업,295.0,2567.0,0.0,0.0,1979.0,527.0,61.0
3,38A011,경상남도,작물 재배업,134.0,846.0,0.0,0.0,620.0,199.0,27.0
4,38A0111,경상남도,곡물 및 기타 식량작물 재배업,7.0,22.0,0.0,0.0,20.0,0.0,2.0

In [ ]:
ind_1 = industries_df[industries_df['산업분류'] == '방문 판매업']
ind_2 = industries_df[industries_df['산업분류'] == '택배업']
# ind_3 중복이 있어 별도의 전처리 필요
ind_3 = industries_df[industries_df['산업분류'] == '항공 여객 운송업']
ind_4 = industries_df[industries_df['산업분류'] == '주점업']
ind_5 = industries_df[industries_df['산업분류'] == '콜센터 및 텔레마케팅 서비스업']
ind_6 = industries_df[industries_df['산업분류'] == '사회복지 서비스업']
ind_7 = industries_df[industries_df['산업분류'] == '개인 간병 및 유사 서비스업']
ind_8 = industries_df[industries_df['산업분류'] == '종교 단체']
ind_9 = industries_df[industries_df['산업분류'] == '택시 운송업']

In [ ]:
ind_1 = ind_1.sort_values(by='코드')
ind_2 = ind_2.sort_values(by='코드')
ind_3 = ind_3.sort_values(by='코드')
ind_4 = ind_4.sort_values(by='코드')
ind_5 = ind_5.sort_values(by='코드')
ind_6 = ind_6.sort_values(by='코드')
ind_7 = ind_7.sort_values(by='코드')
ind_8 = ind_8.sort_values(by='코드')
ind_9 = ind_9.sort_values(by='코드')

In [ ]:
ind_num_list = [ind_1, ind_2, ind_3, ind_4, ind_5, ind_6, ind_7, ind_8, ind_9]

for n, ind in enumerate(ind_num_list):
    ind.to_csv(f'세부 산업체별 데이터 {n}.csv', sep=',', encoding='utf-8')